@use '../../../mixins' as mixin;
@use '../../../variables' as var;

.container {
  //background-color: #ffffff;
  position: relative;
  z-index: 2;
}

.wrapper {
  overflow: hidden;
  //@include mixin.SECTION-WRAPPER;
}

.title {
  display: none;
}

.flexWrapper {
  //width: 200%;
  display: flex;
  left: 0%;
  box-sizing: border-box;
  position: relative;
}

.cell {
  text-align: center;
  width: 25%;
}

.cellStart {
  text-align: center;
  width: 30%;
}

.cellEnd {
  text-align: center;
  width: 10%;
}
.cell svg {
  width: 60%;
  height: auto;
}
