@use '../../../mixins' as mixin;
@use '../../../variables' as var;

.twoColumnWrapper {
  @include mixin.min-width-768px {
    @include mixin.STYLE-GRID-COLUMNS-2;
  }
}

.architectureSection {
  &_listItemCopy {
    margin-bottom: 1rem;
  }

  @include mixin.min-width-768px {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #ccc;
  }
}

.architectureSectionCol1 {
  @include mixin.min-width-768px {
    width: 40%;
    padding-right: 6rem;
    box-sizing: border-box;
  }
}

.architectureSectionCol2 {
  flex-basis: 100%;
  @include mixin.min-width-768px {
    padding-right: 6rem;
  }
}

.architectureSectionCol3 {
  display: none;
  @include mixin.min-width-768px {
    display: block;
  }
}

.architectureSection_list {
  list-style-type: circle;
}

.architectureSectionIcon {
  @include mixin.min-width-768px {
    font-size: 3rem;
  }
  @include mixin.min-width-1600px {
    font-size: 4rem;
  }
  @include mixin.min-width-1921px {
    font-size: 5rem;
  }
}

.supportsMajorBrands_wrapper {
  display: none;
  @include mixin.min-width-768px {
    display: block;
  }
}

.supportsMajorBrands_copy {
  min-height: 6rem;
  @include mixin.min-width-1600px {
    margin-bottom: 5rem;
  }
}

.supportsMajorBrands_count {
  display: inline-block;
  font-size: 6rem;
  @include mixin.min-width-1280px {
    font-size: 8rem;
  }
  @include mixin.min-width-1600px {
    font-size: 13rem;
  }
  @include mixin.min-width-1921px {
    font-size: 17rem;
  }
  @include mixin.min-width-2561px {
    font-size: 20rem;
  }

  font-weight: 400;
  line-height: 1;
}

.supportsMajorBrands_attribute {
  font-size: 3rem;
  @include mixin.min-width-1280px {
    font-size: 4rem;
  }
  @include mixin.min-width-1600px {
    font-size: 5rem;
  }
  @include mixin.min-width-1600px {
    font-size: 6rem;
  }

  font-weight: 600;
  vertical-align: top;
  line-height: 1;
  display: inline-block;
}
