@import '../../mixins';

.projects {
  &__wrapper {
    @include SECTION-WRAPPER;
    @include PAGE;
  }

  &__header {
    @include STYLE-HEADER-ULTRA;
    // text-align: center;
  }

  &__list {
    @include LIST-RESET;
    @include sm-width {
      display: grid;
      grid-template-columns: 47% 47%;
      column-gap:6%;
    }
    // @include lg-width {
    //   grid-template-columns: 31% 31% 31%;
    //   column-gap: 3.5%;
    // }
  }

  &__list_item {
    margin-bottom: 3rem;
    @include sm-width {
      margin-bottom: 4.5rem;
    }
    @include md-width {
      margin-bottom: 6.5rem;
    }
    @include lg-width {
      margin-bottom: 7.5rem;
    }
  }

  &__list_item_link {
    // display: flex;
    // flex-direction: column;
    color: $text-black;
    text-decoration: none;
    margin-bottom: 4rem;
  }

  &__list_item_header {
    @include STYLE-HEADER;
    margin: 0;
    margin-bottom: 0.5rem;
    order: 1;
    font-weight: 400;
  }

  &__list_item_subheader {
    margin: 0;
    order: 2;
    @include STYLE-COPY;
  }

  &__list_item_image {
    max-width: 100%;
    margin-bottom: 2rem;
    display: block;
    order: 0;
  }
}
