@import '../../../mixins';
@import '../../../variables';

.singleImage {
  position: relative;
  z-index: 2;
  text-align: center;
  &__wrapper {
    @include SECTION-WRAPPER;
    @include STYLE-SECTION-PADDING;
  }
  &__picture {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    @include STYLE-SECTION-BORDER-RADIUS;
  }
}
