@use '../../../mixins' as mixin;
@use '../../../variables' as var;

.slider_wrapper {
  position: relative;
  overflow: hidden;
}

.slider_content {
  display: flex;
}

.slider_item {
  width: 80%;
}

.slider_controls {
  position: absolute;
  top: 2rem;
  right: 5%;
}

.slider_button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  outline: none;
  box-shadow: none;
  appearance: none;
  cursor: pointer;
  color: #000;
  @include mixin.STYLE-HEADER-L4;
}

.slider_button:hover {
  color: #000;
  opacity: 0.8;
}

.slider_buttonInactive {
  opacity: 0.3;
  color: #000;
}

.slider_buttonInactive:hover {
  opacity: 0.3;
  color: #000;
}
