@use '../../../mixins' as mixin;
@use '../../../variables' as var;

.slider_wrapper {
  position: relative;
  overflow: hidden;
}

.slider_content {
  //width: 180%;
  @include mixin.min-width-1921px {
    display: flex;
  }
}

.slider_itemWrapper {
  //width: 30%;
}

.slider_item {
  @include mixin.min-width-1921px {
    width: 80%;
  }
}

.slider_controls {
  position: absolute;
  top: 11.5rem;
  right: 5%;
}

.slider_button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  outline: none;
  box-shadow: none;
  appearance: none;
  cursor: pointer;
  color: #000;
  font-size: 6rem;
}

.slider_button:hover {
  color: #000;
  opacity: 0.8;
}

.slider_buttonInactive {
  opacity: 0.3;
  color: #000;
}

.slider_buttonInactive:hover {
  opacity: 0.3;
  color: #000;
}
