.hero {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url('../../../assets/projects/touchpoint/brickwall.png');
  background-repeat: repeat;
  background-size: 440px 276px;
  z-index: 1;
  position: relative;
}

.heroImage {
  display: block;
  max-width: 100%;
}

.scrollIcon {
  position: absolute;
  bottom: 6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  z-index: 3;
  @media (min-width: var.$min-width-1280px) {
    width: 120px;
    height: 120px;
    bottom: 0;
  }
}

.scrollIcon svg {
  width: 100%;
  height: auto;
}
