@import '../../../mixins';
@import '../../../variables';

.copy_section {
  position: relative;
  z-index: 2;
  &__wrapper {
    @include SECTION-WRAPPER;
  }
  &__details {
    padding: 3rem 0;
    max-width: 1200px;
    margin: 0 auto;
  }
  &__header {
    @include STYLE-HEADER;
    // position: relative;
    // margin-bottom: 2rem;
    // padding-bottom: 2rem;
    // &::before {
    //   content: '';
    //   width: 2rem;
    //   height: 2px;
    //   position: absolute;
    //   bottom: 0;
    //   left: 3px;
    //   background-color: $text-black;
    // }
  }
  &__copy {
    @include STYLE-COPY;
  }
}
