@import '../../../mixins';
@import '../../../variables';

.copy_section {
  position: relative;
  z-index: 2;
  padding-top: 1px;
  padding-bottom: 1px;
  &__padding_top {
    @include STYLE-SECTION-PADDING-TOP;
  }
  &__padding_bottom {
    @include STYLE-SECTION-PADDING-BOTTOM;
  }
  &__padding_top_bottom {
    @include STYLE-SECTION-PADDING;
  }
  &__wrapper {
    @include SECTION-WRAPPER;
  }
  &__details {
    max-width: 1200px;
    margin: 0 auto;
  }
  &__header {
    @include STYLE-HEADER;
  }
  &__copy {
    @include STYLE-COPY;
  }
}
