@use '../../../mixins' as mixin;
@use '../../../variables' as var;

.copy_section {
  position: relative;
  z-index: 2;
  padding-top: 1px;
  padding-bottom: 1px;
  &__padding_top {
    @include mixin.STYLE-SECTION-PADDING-TOP;
  }
  &__padding_bottom {
    @include mixin.STYLE-SECTION-PADDING-BOTTOM;
  }
  &__padding_top_bottom {
    @include mixin.STYLE-SECTION-PADDING;
  }
  &__wrapper {
    @include mixin.SECTION-WRAPPER;
  }
  &__details {
    max-width: 1200px;
    margin: 0 auto;
  }
  &__header {
    @include mixin.STYLE-HEADER;
  }
  &__copy {
    @include mixin.STYLE-COPY;
  }
}
