@import '../../../_mixins';
@import '../../../variables';

.hero {
  z-index: 1;
  position: relative;
  @include min-width-1280px {
    min-height: 100vh;
  }
  &__wrapper {
    display: flex;
    flex-direction: column-reverse;
    @include min-width-1280px {
      flex-direction: row;
    }
  }
  &__img_wrapper {
    overflow: hidden;
    
    text-align: right;
    position: relative;
    @include min-width-1280px {
      width: 60%;
      align-items: center;
      min-height: 100vh;
    }
    @include max-width-1279px {
      padding-top: 60px;
    }
  }
  &__copy_wrapper {
    @include SECTION-WRAPPER;
    @include min-width-1280px { 
      width: 80%;
    }
  }
  &__copy_container {
    container-type: inline-size;
    @include max-width-1279px {
      @include STYLE-SECTION-PADDING-BOTTOM
    }
    @include min-width-1280px {
      min-height: 100vh;
      width: 40%;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__copy {
    @include STYLE-COPY;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    @include STYLE-HEADER-SUPER;
    margin-top: 0;
  }
}

.btn {
  &__wrapper {
    max-width: 850px;
    @container (min-width: 580px) { 
      flex-direction: row;
      justify-content: space-between;
      display: flex;

    }
    @include min-width-1921px {
      max-width: 1000px;
    }
  }
  &__primary {
    @include BTN;
    width: 100%;
    margin-bottom: 1rem;
    @container (max-width: 579px) { 
      
    }
    @container (min-width: 580px) { 
      width: 47%;
    }
  }
  &__secondary {
    @include BTN__SECONDARY;
    margin-bottom: 1rem;
    width: 100%;
    @container (min-width: 580px) { 
      width: 47%;
    }
  }
}
