@import '../../../_mixins';
@import '../../../variables';

.hero {
  z-index: 1;
  position: relative;
  @include md-width {
    min-height: 100vh;
  }
  &__wrapper {
    display: flex;
    flex-direction: column-reverse;
    @include md-width {
      flex-direction: row;
    }
  }
  &__img_wrapper {
    overflow: hidden;
    
    text-align: right;
    position: relative;
    @include md-width {
      width: 60%;
      align-items: center;
      min-height: 100vh;
    }
    @include md-width-max {
      padding-top: 60px;
    }
  }
  &__copy_wrapper {
    container-type: inline-size;
    @include md-width {
      min-height: 100vh;
      width: 40%;
    }

    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__copy {
    @include STYLE-COPY;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    @include STYLE-HEADER-SUPER;
    margin-top: 0;
    margin-bottom: 0 !important;
  }
}

.btn {
  &__wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
    @container (min-width: 480px) { 
      margin-top: 4rem;
    }
    @container (max-width: 479px) { 
      margin-bottom: 2rem;
    }
    @container (min-width: 480px) { 
      flex-direction: row;
      justify-content: space-between;
      display: flex;

    }
  }
  &__primary {
    @include BTN;
    width: 100%;
    @container (max-width: 479px) { 
      margin-bottom: 1rem;
    }
    @container (min-width: 480px) { 
      width: 47%;
    }
  }
  &__secondary {
    @include BTN__SECONDARY;
    width: 100%;
    @container (min-width: 480px) { 
      width: 47%;
    }
  }
}
