@use '../../../_mixins' as mixin;
@use '../../../_variables' as var;

.hero {
  z-index: 1;
  position: relative;
  @include mixin.min-width-1440px {
    min-height: 100vh;
  }
  &__wrapper {
    display: flex;
    flex-direction: column-reverse;
    @include mixin.min-width-1440px {
      flex-direction: row;
    }
  }
  &__img_wrapper {
    & {
      overflow: hidden;
      text-align: right;
      position: relative;
    }
    @include mixin.min-width-1440px {
      width: 60%;
      align-items: center;
      min-height: 100vh;
    }
    @include mixin.max-width-1279px {
      padding-top: 60px;
    }
  }
  &__copy_wrapper {
    @include mixin.SECTION-WRAPPER;
    @include mixin.min-width-1440px {
      width: 80%;
    }
  }
  &__copy_container {
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mixin.max-width-1279px {
      @include mixin.STYLE-SECTION-PADDING;
    }
    @include mixin.min-width-1440px {
      min-height: 100vh;
      width: 40%;
    }
  }
  &__copy {
    @include mixin.STYLE-COPY;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    margin-bottom: 2.4rem;
    margin-top: 0;
    @include mixin.STYLE-HEADER-L1;
  }
}

.btn {
  &__wrapper {
    max-width: 850px;
    @include mixin.min-width-1440px {
      @include mixin.STYLE-SECTION-PADDING-TOP;
    }
    @container (min-width: 720px) {
      flex-direction: row;
      justify-content: space-between;
      display: flex;
    }
    @include mixin.min-width-1921px {
      max-width: 1000px;
    }
  }
  &__primary {
    width: 100%;
    margin-bottom: 1rem;
    @include mixin.BTN;
    @container (max-width: 719px) {
    }
    @container (min-width: 720px) {
      width: 47%;
    }
  }
  &__secondary {
    & {
      margin-bottom: 1rem;
      width: 100%;
    }
    @include mixin.BTN__SECONDARY;
    @container (min-width: 720px) {
      width: 47%;
    }
  }
}
