@use '../../../_mixins' as mixin;

.accomplishments {
  padding-top: 0 !important;
  @include mixin.STYLE-SECTION-PADDING;
  &__wrapper {
    @include mixin.SECTION-WRAPPER;
  }
  &__copy {
    display: flex;
    align-items: flex-start;
    align-items: center;
    @include mixin.STYLE-COPY;
  }

  &__header {
    @include mixin.max-width-1279px {
      text-align: center;
    }
    @include mixin.STYLE-HEADER-L3;
  }

  &__content {
    @include mixin.min-width-420px {
    }
    @include mixin.min-width-768px {
      @include mixin.STYLE-GRID-COLUMNS-2;
    }
    @include mixin.min-width-1280px {
      @include mixin.STYLE-GRID-COLUMNS-3;
    }
    @include mixin.min-width-1600px {
      @include mixin.STYLE-GRID-COLUMNS-4;
    }
  }

  &__cell {
    width: 100%;
  }

  &__image {
    margin-bottom: 1rem;
    // height: 400px;
    // background-color: burlywood;
  }

  &__image svg {
    width: 100%;
    height: auto;
  }

  &__link {
    text-align: center;
  }

  &__list {
    list-style: none;
    padding-left: 0;
  }

  &__icon {
    flex: 0 0 6rem;
    text-align: center;
    @include mixin.max-width-1599px {
      font-size: 2.5rem;
    }
  }
}
