@use '../../../mixins.scss' as mixin;
@use '../../../variables' as var;

.dualImage {
  display: flex;
  width: fit-content;

  margin: 0 auto;
  @include mixin.min-width-768px {
    gap: 10%;
  }
}

.image {
  max-width: 100%;
  height: auto;
}

.dualImageHeader {
  display: none;
}
