@use '../../../mixins' as mixin;

.applyAtMobile {
  width: var(--sa-width);
  max-width: var(--sa-max-width);
  margin-left: var(--sa-margin-left);
  margin-right: var(--sa-margin-right);
}

.applyAtTablet {
  @include mixin.min-width-768px {
    width: var(--sa-width);
    max-width: var(--sa-max-width);
    margin-left: var(--sa-margin-left);
    margin-right: var(--sa-margin-right);
  }
}

.applyAtDesktop {
  @include mixin.min-width-1280px {
    width: var(--sa-width);
    max-width: var(--sa-max-width);
    margin-left: var(--sa-margin-left);
    margin-right: var(--sa-margin-right);
  }
}
