@use '../../../_mixins' as mixin;
@use '../../../_variables' as var;

.experimentsList {
  position: relative;
  padding-bottom: 100px;
  background-color: #ffffff;
  z-index: 10;
  &__header {
    text-align: center;
    @include mixin.STYLE-HEADER-L3;
  }
  &__header_sub {
    text-align: center;
    @include mixin.STYLE-COPY;
  }
  &__wrapper {
    @include mixin.PAGE;
    //@include mixin.SECTION-WRAPPER;
    @include mixin.STYLE-SECTION-PADDING-BOTTOM;
  }
  &__list {
    @include mixin.LIST-RESET;
    @include mixin.min-width-768px {
      @include mixin.STYLE-GRID-COLUMNS-2;
      @include mixin.STYLE-GRID-CLEAR-GAP;
    }
    @include mixin.min-width-1280px {
      @include mixin.STYLE-GRID-COLUMNS-2;
      width: 90%;
      margin: 0 auto;
    }
    @include mixin.min-width-1600px {
      @include mixin.STYLE-GRID-COLUMNS-3;
    }
    @include mixin.min-width-2561px {
      @include mixin.STYLE-GRID-COLUMNS-4;
    }
  }
  &__list_item_link {
    @include mixin.max-width-1279px {
      //margin-bottom: 3rem;
    }
    @include mixin.min-width-1280px {
      border-radius: 20px;
    }
    text-decoration: none;
    display: block;
    background-color: #ccc;
    //border-radius: 20px;
  }
  &__list_item_title_wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    @include mixin.min-width-1280px {
      display: block;
    }
  }
  &__list_item_icon {
    background-color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 200px;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    margin-right: 1rem;
    @include mixin.min-width-1600px {
      width: 5rem;
      height: 5rem;
      font-size: 2.5rem;
    }
  }
  &__list_item_wrapper {
    padding: 2rem 0;
    align-items: center;
    @include mixin.SECTION-WRAPPER;
    @include mixin.STYLE-COPY;
  }
  &__list_item_title {
    margin-right: 2rem;
    margin-bottom: 1rem;
    @include mixin.STYLE-HEADER-L1;
  }
  &__list_item_description {
    display: inline-block;
  }
  &__list_item_tags {
    display: block;
    margin-bottom: 0;
    @include mixin.STYLE-COPY-DETAILS;
  }
  &__list_item_tag {
    background-color: #fff;
    display: inline-block;
    padding: 0.2rem 1rem;
    border-radius: 20px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
