@import '../../../_mixins';
@import '../../../_variables';

.mobile {
  background-color: $bkgrnd-grey-light;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  @include min-width-1600px {
    min-height: 100vh;
  }
  &__wrapper {
    @include SECTION-WRAPPER;
    @include STYLE-SECTION-PADDING;
    text-align: center;
  }
  &__header {
    display: none;
  }
  &__phone_container {
    position: relative;
  }
  &__phone_vector {
    @include max-width-1599px {
      display: none;
    }
    &:nth-child(2) {
      z-index: 100;
    }
    @include min-width-1600px {
      margin: 0 40px;
      display: inline-block;
      position: relative;
      padding: 50px 10px;
      background-color: $text-black;
      border-radius: 20px;
      &::after {
        content: '';
        position: absolute;
        margin-left: -15px;
        left: 50%;
        bottom: 10px;
        width: 30px;
        height: 30px;
        background-color: #333;
        border-radius: 30px;
      }
      &::before {
        content: '';
        position: absolute;
        top: 20px;
        left: 50%;
        margin-left: -30px;
        width: 60px;
        height: 10px;
        background-color: #333;
        border-radius: 30px;
      }
    }
    &--active {
      @include max-width-1599px  {
        display: block;
      }
    }
  }
  &__img {
    max-width: 100%;
  }
}

.sliderNav {
  &__wrapper {
    padding: 2rem 0 0;
    display: flex;
    justify-content: center;
  }
  &__item {
  }
  &__item_radio {
    margin: 0 0.5rem;
  }
  &__item_label {
    display: none;
  }
}
