@import '../../../mixins';
@import '../../../variables';

.logos {
  position: relative;
  z-index: 2;
  background-color: #fff;
  &__wrapper {
    @include SECTION-WRAPPER;
  }
}

.logoGridList {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  &__item {
    float: left;
    width: 50%;
    @include min-width-420px {
      width: 33.3%;
    }
    @include min-width-768px {
      width: 25%;
    }
    @include min-width-1280px {
      width: 20%;
    }
  }
  &__itemLogo {
    display: block;
    margin: 0 auto;
    text-align: center;
    @include max-width-1599px {
      max-width: 90%;
    }
  }
  &__item-label {
    display: block;
    text-align: center;
  }
}
