@use './../../mixins' as mixin;

.resume {
  &__header {
    text-align: center;
    @include mixin.STYLE-HEADER-L4;
    margin-top: clamp(6rem, 6vw, 6rem);
    margin-bottom: 0;
    padding-bottom: 0;
  }
  &__wrapper {
    @include mixin.PAGE;
    @include mixin.SECTION-WRAPPER;
  }
}
