@use '../mixins' as mixin;
@use '../variables' as var;

.spacer {
  height: 100vh;
  width: 100%;
  background: #fff;
}

.intro {
  //
  background-color: #000;
  position: fixed;
  width: 100%;
  height: 100vh;
  //

  //position: relative;
  &__right_col {
    width: 90%;
    left: 0;
    top: 0;
    padding: 100px 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 auto;
    height: 100vh;
    position: absolute;
    left: 5%;
    width: 90%;
    pointer-events: none;
  }
  &__heading {
    color: #fff;
    & {
      margin-top: 0;
    }
    margin-bottom: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 8.5vw;
    text-align: center;
  }
  &__p1 {
    color: #fff;
    text-align: center;
    @include mixin.STYLE-COPY;
  }
  &__scroll_cta {
    pointer-events: none;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    display: none;
    box-sizing: border-box;
    @media (min-width: var.$min-width-1280px) {
      display: block;
    }
  }
  &__scroll_cta_copy {
    padding: 20px 30px;
    border-radius: 100px;
    text-transform: uppercase;
    background: #fff;
    display: inline-block;
    font-size: 1.2rem;
    //@include mixin.STYLE-COPY-DETAILS;
  }
  &__btn_section {
    pointer-events: all;
    display: flex;
    flex-direction: column;
    @media (min-width: var.$min-width-420px) {
      flex-direction: row;
      justify-content: space-between;
    }
    @media (min-width: var.$min-width-1280px) {
      display: none;
    }
  }
  &__button {
    border: 0;
    margin-bottom: 1rem;
    @include mixin.BTN;
    @media (min-width: var.$min-width-420px) {
      width: 48%;
    }
  }
  &__button_secondary {
    margin-bottom: 1rem;
    @include mixin.BTN__SECONDARY;
    @media (min-width: var.$min-width-420px) {
      width: 48%;
    }
  }
}

.scrollIcon {
  position: absolute;
  bottom: 0rem;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  z-index: 3;
}
