@import '../mixins';
@import '../variables';

.landing {
  width: 80%;
  left: 10%;
  top: 0;
  padding: 100px 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: $min-width-1280px) {
    height: 100vh;
    position: absolute;
    left: 50%;
    padding-right: 10%;
    width: 50%;
  }
  &__heading {
    @include STYLE-HEADER-ULTRA;
    margin-top: 0;
  }
  &__copy {
    @include STYLE-COPY;
  }
  &__button {
    @include BTN;
    border: 0;
    max-width: 21rem;
  }
}
