@import '../../../mixins';
@import '../../../variables';

.video {
  @include STYLE-SECTION-PADDING;
  position: relative;
  z-index: 1;
  &__padding_top {
    @include STYLE-SECTION-PADDING-TOP;
    padding-bottom: 0 !important;
  }
  &__padding_bottom {
    @include STYLE-SECTION-PADDING-BOTTOM;
    padding-top: 0 !important;
  }
}

.embedContainer {
  position: relative;
  padding-bottom: 67.25%;
  height: 0;
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
  @media (min-width: 1440px) {
    padding-bottom: 32%;
  }
}
.embedContainer iframe,
.embedContainer object,
.embedContainer embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
