@use '../../../mixins' as mixin;
@use '../../../variables' as var;

.nextProject {
  position: relative;
  z-index: 1;
  &__wrapper {
    container-type: inline-size;
    max-width: 1200px;
    margin: 0 auto;
    @include mixin.SECTION-WRAPPER;
    @include mixin.STYLE-SECTION-PADDING;
  }
  &__header {
    @include mixin.STYLE-HEADER-L2;
  }
  &__copy {
    @include mixin.STYLE-COPY;
  }
  &__btn {
    padding: 0 40px;
    @include mixin.BTN;
  }
}

.btn {
  &__wrapper {
    max-width: 850px;
    @container (min-width: 580px) {
      flex-direction: row;
      justify-content: space-between;
      display: flex;
    }
    @include mixin.min-width-1921px {
      max-width: 1000px;
    }
  }
  &__primary {
    width: 100%;
    margin-bottom: 1rem;
    @include mixin.BTN;
    @container (max-width: 579px) {
    }
    @container (min-width: 580px) {
      width: 47%;
    }
  }
  &__secondary {
    margin-bottom: 1rem;
    width: 100%;
    @include mixin.BTN__SECONDARY;
    @container (min-width: 580px) {
      width: 47%;
    }
  }
}
