@use '../../../mixins' as mixin;
@use '../../../variables' as var;

.wrapper {
  @include mixin.SECTION-WRAPPER;
  max-width: none;
}

.header {
  @include mixin.max-width-1279px {
    text-align: center;
  }
  @include mixin.STYLE-HEADER-SUPER;
}

.resumeEducation {
  &__wrapper {
  }
  &__header {
  }
  &__grid {
    @include mixin.min-width-1280px {
      @include mixin.STYLE-GRID-COLUMNS-2-NOGAP;
    }
  }
  &__headerSub {
    margin-top: 0;
    margin-bottom: 1.5%;
    @include mixin.STYLE-HEADER-SUB;
    @include mixin.HIDDEN-TEXT;
  }
  &__headerItal {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
    @include mixin.STYLE-COPY;
  }
  &__col {
    //@include mixin.STYLE-COPY;
    @include mixin.STYLE-SECTION-PADDING-BOTTOM;
  }
  &__col__mds {
    background-color: #354a5d;
    color: #fff;
    padding: 10%;
  }
  &__col__mit {
    background-color: #dd1122;
    color: #fff;
    padding: 10%;
  }
  &__date {
    display: inline-block;
    margin-right: 0.5rem;
    @include mixin.STYLE-HEADER-SUB;
  }
  &__date_block {
    display: block;
    margin-right: 0.5rem;
    @include mixin.STYLE-COPY-DETAILS;
  }
  &__details {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    &:first-child {
      border-top: 1px solid rgba(255, 255, 255, 0.5);
    }
    &[open] > summary {
      background-image: url('../../../assets/images/icon-expanded-2dpi.gif');
    }
  }
  &__summary {
    @include mixin.STYLE-COPY;
    margin: 0 !important;
    transition: color 0.2s linear;
    display: block;
    text-decoration: none;
    padding: 0.3em 0.3em 0.3em 2em;
    background-size: 9px;
    background-image: url('../../../assets/images/icon-expand-2dpi.gif');
    background-repeat: no-repeat;
    background-position: 0.8em center;
    padding-left: 2em;

    &:hover {
      transition: color 0.2s linear;
      background-color: rgba(255, 255, 255, 0.6);
      cursor: pointer;
      color: #333;
    }
  }
  &__detailsList {
    @include mixin.STYLE-COPY;
    margin-top: 0 !important;
    list-style: none;
    padding: 0;
  }
  &__detailsListItem {
    padding: 0.3em 0.3em 0.3em 2em;
  }
  &__detailsLevel2 {
    &[open] > summary {
      background-image: url('../../../assets/images/icon-expanded-2dpi.gif');
    }
  }
  &__summaryLevel2 {
    padding: 5px 5px 5px 4em;
    background-position: 2.5em center;
    background-image: url('../../../assets/images/icon-expand-2dpi.gif');
    background-size: 9px;
    background-repeat: no-repeat;
    margin: 0;
    display: block;
    cursor: pointer;
    &:hover {
      transition: color 0.2s linear;
      background-color: #f2f2f2;
      cursor: pointer;
      color: #333;
    }
  }
  &__detailsListLevel2 {
    padding-left: 4em;
    list-style: none;
  }
  &__detailsListLevel2Item {
    padding: 0.3em 0.3em 0.3em 0;
  }
  &__logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }
}
