@use '../../../mixins' as mixin;
@use '../../../variables' as var;

/* Accomplishments */

.skills {
  @include mixin.STYLE-SECTION-PADDING;
}

.wrapper {
  @include mixin.SECTION-WRAPPER;
  max-width: none;
}
.header {
  @include mixin.STYLE-HEADER-L3;
}
.listWrapper {
  // border-top: 1px solid gray;
  // border-bottom: 1px solid gray;
  max-width: none;
}
.list {
  @include mixin.SECTION-WRAPPER;
  @include mixin.STYLE-GRID-COLUMNS-2-NOGAP;
  @include mixin.min-width-768px {
    @include mixin.STYLE-GRID-COLUMNS-3-NOGAP;
  }
  @include mixin.min-width-1280px {
    @include mixin.STYLE-GRID-COLUMNS-5;
  }

  max-width: none;
  list-style: none;
  padding: 0;
  // display: flex;
  // flex-wrap: wrap;
}
.listItem {
  //width: 50%;
  text-align: center;
  //outline: 1px solid grey;
  @include mixin.min-width-768px {
    //width: 33.3%;
  }
  @include mixin.min-width-1600px {
    //width: 20%;
    background-color: #fff;
    //aspect-ratio: 1 / 1;
  }
}

.listItem svg {
  width: 80%;
  height: auto;
}

.label {
  @include mixin.STYLE-COPY;
}
