@import '../../../_mixins';

.btn_section {
    &__wrapper {
        padding-bottom: 4rem;
    }
    &__container {
        @include SECTION-WRAPPER;
        text-align: center;
        max-width: 800px;
        @include min-width-420px {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
         }      
    }
}

.btn__primary {
    @include BTN;
    margin-bottom: 1rem;
    width: 100%;
    @include min-width-420px {
        width: 47%;
    }
}

.btn__secondary {
    @include BTN__SECONDARY;
    margin-bottom: 1rem;
    width: 100%;
    @include min-width-420px {
        width: 47%
    }
}

