@use '../../../_mixins' as mixin;

.btn_section {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    flex-wrap: wrap;
  }
  &__icon {
    margin-right: 1.5rem;
  }
}

.btn__primary {
  @include mixin.BTN;
  margin-bottom: 1rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  white-space: nowrap;
  @include mixin.max-width-419px {
    width: 100%;
  }
}

.btn__secondary {
  @include mixin.BTN__SECONDARY;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  white-space: nowrap;
  margin-bottom: 1rem;
  @include mixin.max-width-419px {
    width: 100%;
  }
}
