@use '../../../variables' as var;
@use '../../../mixins' as mixin;

.footer {
  color: #fff;
  background-color: var.$text-black;
  position: relative;
  width: 100%;
  bottom: 0;
  z-index: 3;
  flex-shrink: 0;
  &__wrapper {
    @include mixin.SECTION-WRAPPER;
    @include mixin.min-width-768px {
    }
  }
  &__header {
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
    margin-bottom: 1rem;
    @include mixin.STYLE-HEADER-SUB;
    @include mixin.min-width-1280px {
      display: none;
    }
    @include mixin.min-width-1600px {
      font-size: 1.4rem;
    }
  }
  &__header_sub {
    @include mixin.STYLE-COPY;
    @include mixin.min-width-1280px {
      margin: 0;
    }
  }
  &__navigation {
    padding: 1rem 0;
    @include mixin.min-width-768px {
      padding: 2rem 0;
    }
    @include mixin.min-width-1280px {
      padding: 3rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__list {
    @include mixin.LIST-RESET;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__list_item {
    margin: 4% 8%;
    width: 9%;
    @include mixin.min-width-420px {
      margin: 0 3.25%;
      width: 6%;
    }
    @include mixin.min-width-768px {
      width: 25px;
      margin: 0 10px;
    }
    @include mixin.min-width-1600px {
      margin: 0 13px;
      width: 40px;
    }
  }

  &__list_item_label {
    display: none;
  }

  &__list_item_link {
    color: #fff;
    display: flex;
    text-decoration: none;
    align-items: center;
    box-sizing: border-box;
    font-size: 3rem;
    &.linkedin:hover {
      color: #0077b5;
    }
    &.github:hover {
      color: #ccc;
    }
    &.pinterest:hover {
      color: #e60023;
    }
    &.youtube:hover {
      color: #ff0000;
    }
    &.instagram:hover {
      color: #e1306c;
    }
    &.x:hover {
      color: #1da1f2;
    }
    &.facebook:hover {
      color: #1877f2;
    }
    &.codepen:hover {
      color: #47cf73;
    }
  }

  &__copyright {
    @include mixin.STYLE-COPY-DETAILS;
    font-weight: 400;
    color: #fff;
    margin: 0;
    padding: 1rem 0;
    span {
      display: block;
    }
    @include mixin.min-width-420px {
      border-top: 1px solid #333;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  svg {
    width: 100%;
    height: auto;
  }
}
