@import '../../../mixins.scss';
@import '../../../variables';

.footer {
  background-color: $text-black;
  position: relative;
  width: 100%;
  bottom: 0;
  z-index: 3;
  flex-shrink: 0;
  &__wrapper {
    @include SECTION-WRAPPER;
    padding: 20px 0px;
    @include min-width-768px {
      flex-direction: row-reverse;    
      display: flex;    
      justify-content: space-between;
      align-items: center;
    }
  }
  &__header {
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
    @include max-width-767px { 
      text-align: center;
      margin-bottom: 1rem;
    }
    @include min-width-768px {
      margin-right: 10px;    
      margin-right: 20px;
      border-right: 1px solid #fff;
      padding-right: 20px;
    }
    @include min-width-1600px {
      font-size: 1.4rem;
    }
  }
  &__navigation {

    @include min-width-768px { 
      display: flex;
      align-items: center;
    }
    @include max-width-767px {
      margin-bottom: 1rem
    }
    
  }

  &__list {
    @include LIST-RESET;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include min-width-768px { 
      justify-content: right;
    }
  }

  &__list_item {
    margin: 6%;
    width: 12%;
    @include max-width-767px {
      margin-bottom: 1rem
    }
    @include min-width-420px {
      margin:0 3.25%;
      width: 6%;
    }
    @include min-width-768px {
      width: 25px;
      margin:0 10px;
    }
    @include min-width-1600px { 
      margin: 0 13px;
      width: 30px;
    }
  }

  &__list_item_label {
    display: none;
  }

  &__list_item_link {
    display: flex;
    color: $text-black;
    text-decoration: none;
    align-items: center;
    box-sizing: border-box;
  }

  &__copyright {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #fff;
    margin: 0;
    @include max-width-767px { 
      text-align: center;
    }
    @include min-width-1600px {
      font-size: 1.4rem;
    }
  }

  svg {
    width: 100%;
    height: auto;
  }
}
