@import '../../../mixins';
@import '../../../variables';

.aniSvg {
  width: 100%;
  @include min-width-1600px {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
}
