@use '../../../mixins' as mixin;
@use '../../../variables' as var;

.aniSvg {
  width: 100%;
  @include mixin.min-width-1600px {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
}
