@use '../../../mixins' as mixin;
@use '../../../variables' as var;

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  position: relative;
  z-index: 2;
  background-color: #334155;
}

.container {
  @include mixin.SECTION-WRAPPER;
  max-width: 1500px;
  position: relative;
  z-index: 2;
}

.svg {
  width: 100%;
  height: auto;
}

.scrollIcon {
  position: absolute;
  bottom: 6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  z-index: 3;
  @media (min-width: var.$min-width-1280px) {
    width: 120px;
    height: 120px;
    bottom: 0;
  }
}

.scrollIcon svg {
  width: 100%;
  height: auto;
}

.background {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
