@import './variables.scss';

@mixin SECTION-WRAPPER {
  width: 90%;
  margin: 0 auto;
}

@mixin STYLE-SECTION-BORDER-RADIUS {
  border-radius: 1.2rem;
  @include min-width-420px {
    border-radius: 1.5rem;
  }
  @include min-width-768px {
    border-radius: 2rem;
  }
  @include min-width-1600px {
    border-radius: 3rem;
  }
}

@mixin STYLE-SECTION-PADDING {
  padding: 3rem 0;
  @include min-width-420px {
    padding: 4rem 0;
  }
  @include min-width-768px {
    padding: 5rem 0;
  }
  @include min-width-1280px {
    padding: 6rem 0;
  }
  @include min-width-1921px {
    padding: 8rem 0;
  }
}

@mixin STYLE-SECTION-PADDING-TOP {
  padding-top: 2rem;
  @include min-width-420px {
    padding-top: 3rem;
  }
  @include min-width-768px {
    padding-top: 4rem;
  }
  @include min-width-1280px() {
    padding-top: 6rem;
  }
  @include min-width-1921px() {
    padding-top: 8rem;
  }
}

@mixin STYLE-SECTION-PADDING-BOTTOM {
  padding-bottom: 2rem;
  @include min-width-420px() {
    padding-bottom: 3rem;
  }
  @include min-width-768px() {
    padding-bottom: 4rem;
  }
  @include min-width-1280px() {
    padding-bottom: 6rem;
  }
  @include min-width-1921px() {
    padding-bottom: 8rem;
  }
}

@mixin STYLE-HEADER-FAMILY {
  font-family: 'Montserrat', sans-serif;
}

@mixin STYLE-COPY-FAMILY {
  font-family: 'Source Sans 3', sans-serif;
}

@mixin STYLE-HEADER-ULTRA {
  margin-top: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  @include min-width-768px {
    font-size: 4rem;
  }
  @include min-width-1280px {
    font-size: 5rem;
  }
  @include min-width-1600px {
    font-size: 6rem;
  }
  @include min-width-1921px {
    font-size: 7rem;
  }
}

@mixin STYLE-HEADER-SUPER {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  @include min-width-768px {
    font-size: 3rem;
  }
  @include min-width-1280px {
    font-size: 4rem;
  }
  @include min-width-1600px {
    font-size: 5rem;
  }
  @include min-width-1921px {
    font-size: 6rem;
  }
}

@mixin STYLE-HEADER {
  font-weight: 600;
  font-size: 1.6rem;
  @include min-width-768px {
    font-size: 2rem;
  }
  @include min-width-1280px {
    font-size: 2.5rem;
  }
  @include min-width-1600px {
    font-size: 3rem;
  }
  @include min-width-1921px {
    font-size: 3.6rem;
  }
}

@mixin STYLE-COPY {
  font-weight: 400;
  font-size: 1.4rem;
  @include min-width-768px {
    font-size: 1.6rem;
  }
  @include min-width-1280px {
    font-size: 1.8rem;
  }
  @include min-width-1600px {
    font-size: 2.0rem;
  }
  @include min-width-1921px {
    font-size: 2.6rem;
  }
}


@mixin STYLE-HEADER-SUB {
  font-weight: 600;
  font-size: 1.5rem;
  @include min-width-768px {
    font-size: 2rem;
  }
  @include min-width-1280px {
    font-size: 2rem;
  }
}

@mixin LIST-RESET {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin HIDDEN-TEXT {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@mixin BTN-BASE {
  font-family: 'Montserrat', sans-serif;  
  font-weight: 600; 
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  border-radius: 100px;
  text-align: center;
  padding:1rem 0;
  box-sizing: border-box;cursor: pointer;
  @include min-width-768px {
    font-size: 1.3rem;
  }
  @include min-width-1280px {
    font-size: 1.4rem;
    padding:1.2rem 0;
  }
  @include min-width-1600px {
    font-size: 1.4rem;
  }
  @include min-width-1921px {
    font-size: 1.6rem;
    padding:1.4rem 0;
  }
}

@mixin BTN {
  @include BTN-BASE();
  color: #fff;
  background-color: #000;
  &:hover {
    color: #fff;
    background-color: #1d1d1d;
  } 
}

@mixin BTN__SECONDARY {
  @include BTN-BASE();
  color: #000;
  background-color: #fff;
  outline: 2px solid #000;
  outline-offset: -2px;
  &:hover {background-color: #f6f6f6;}
}

@mixin PAGE {
  padding-top: 50px;
}

@mixin min-width-420px {
  @media (min-width: $min-width-420px) {
    @content;
  }
}

@mixin max-width-767px {
  @media (max-width: $max-width-767px) {
    @content;
  }
}

@mixin min-width-768px {
  @media (min-width: $min-width-768px) {
    @content;
  }
}

@mixin max-width-1279px {
  @media (max-width: $max-width-1279px) {
    @content;
  }
}

@mixin min-width-1280px {
  @media (min-width: $min-width-1280px) {
    @content;
  }
}

@mixin min-width-1440px {
  @media (min-width: $min-width-1440px) {
    @content;
  }
}

@mixin max-width-1599px {
  @media (max-width: $max-width-1599px) {
    @content;
  }
}

@mixin min-width-1600px {
  @media (min-width: $min-width-1600px) {
    @content;
  }
}

@mixin min-width-1921px {
  @media (min-width: $min-width-1921px) {
    @content;
  }
}
