// $sm-width-min: 768px;
// $md-width-max: 1279px;
// $md-width-min: 1280px;
// $lg-width-min: 1600px;

// $fhd-width-min: 1921px;
// $sm-width-max: 767px;
// $md-width-max: 1279px;
// $lg-width-max: 1599px;

$min-width-360px: 360px;
$min-width-420px: 420px;
$min-width-768px: 768px;
$min-width-1280px: 1280px;
$min-width-1440px: 1440px;
$min-width-1600px: 1600px;
$min-width-1921px: 1921px;
$min-width-2561px: 2561px;

$max-width-419px: 419px;
$max-width-767px: 767px;
$max-width-1279px: 1279px;
$max-width-1599px: 1599px;

/**********/
/* Colors */
/**********/

$text-black: #111;
$text-black-hover: #1d1d1d;
$bkgrnd-grey-light: #f2f2f2;
$grey-b: #bbb;
$grey-d: #ddd;
$iag-purple: #592c82;

/**********/
/* Blacks */
/**********/

$soft-black: #1a1a1a; //A gentle, versatile choice for backgrounds.
$dark-matte-gray: #121212; //Ideal for reducing contrast fatigue in dark mode.
$charcoal: #151515; //Provides a deep, high-end feel.
$matte-black: #282828; //A balanced, neutral option.
$midnight-black: #0d0d0d; //A bold, near-pure black.
