$sm-width-min: 768px;
$md-width-max: 1279px;
$md-width-min: 1280px;
$lg-width-min: 1600px;
$fhd-width-min: 1921px;

$sm-width-max: 767px;
$md-width-max: 1279px;
$lg-width-max: 1599px;

$text-black: #111;

$bkgrnd-grey-light: #f2f2f2;

$grey-b: #bbb;
$grey-d: #ddd;
