@use '../../../mixins' as mixin;
@use '../../../variables' as var;

.slider {
  @include mixin.STYLE-SECTION-PADDING;
  position: relative;
  z-index: 2;

  &__wrapper {
    @include mixin.SECTION-WRAPPER;

    text-align: center;
  }

  &__title {
    display: none;
  }
  &__img_container {
  }
  &__img {
    max-width: 100%;
  }
}
